<?xml version="1.0"?>
<!--
/**
 * Copyright © Michał Biarda. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="mb-threestepscheckout" xsi:type="object">MB\ThreeStepsCheckout\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>