.checkout-payment-method .actions-toolbar .action.primary,
#checkout-step-finalization .actions-toolbar .action.primary {
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
}
.tsc-step-finalization .checkout-container {
    display: flex;
    flex-direction: column;
}
.tsc-step-finalization .opc-wrapper {
    order: 100;
    width: 100%;
    padding-right: 0;
}
.tsc-step-finalization .opc-sidebar {
    background: transparent;
    width: 100%;
    margin-top: 0;
}
.tsc-step-finalization .opc-sidebar header {
    display: none;
}
.tsc-step-finalization .opc-block-summary {
    background: transparent;
    padding: 0;
}
.tsc-step-finalization .minicart-wrapper {
    display: none;
}
.tsc-step-finalization .billing-information .bill-to,
.tsc-step-finalization .billing-information .pay-via {
    margin-bottom: 20px;
}
.tsc-step-finalization .billing-information .billing-information-title {
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px;
    padding-bottom: 10px;
    color: #333;
    font-weight: 300;
    font-size: 2.6rem;
    position: relative;
}
.tsc-step-finalization .billing-information .billing-information-title .action-edit {
    top: 2px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    position: absolute;
    right: 0;
    box-shadow: none;
    background: none;
    border: 0;
    line-height: 1.42857143;
    padding: 0;
    border-radius: 0;
    font-size: inherit;
    font-weight: 400;
}
.tsc-step-finalization .billing-information .billing-information-title .action-edit:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    line-height: 28px;
    color: #8f8f8f;
    content: '\e606';
    font-family: 'icons-blank-theme';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.tsc-step-finalization .billing-information .billing-information-title .action-edit span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.tsc-step-finalization .billing-information .billing-information-content {
    line-height: 27px;
}
.tsc-virtual-quote .opc-block-shipping-information {
    display: none;
}
#checkout-step-finalization .fieldset > .field.choice::before {
    width: 0;
    padding: 0;
}
@media all and (max-width: 768px) {
    .opc-progress-bar {
        display: flex;
        flex-direction: row;
    }
    .opc-progress-bar-item {
        width: auto;
        flex: 1
    }
}
@media all and (min-width: 768px) {
    .tsc-step-finalization #opc-sidebar {
        display: flex;
    }
    .tsc-step-finalization #opc-sidebar > div {
        width: calc((100% - 40px) / 3);
        float: left;
    }
    .tsc-step-finalization .opc-block-shipping-information {
        order: 1;
        padding-left: 0;
    }
    .tsc-step-finalization .billing-information {
        order: 2;
        padding-right: 20px;
    }
    .tsc-step-finalization .opc-block-summary {
        order: 3
    }
}